rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read access to the leaderboard
    match /leaderboard/{document=**} {
      allow read, write: if true;
    }
  }
}
